@{
    Layout = "~/Views/Shared/_Admin3.cshtml";
}

<br />
<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">
                    <button type="button" class="btn btn-success" id="AddBtn">
                        <i class="fas fa-plus"></i> Add New
                    </button>
                </h3>
            </div>
            <div class="card-body">
                @Html.Action("AllInventory")
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="DepartmentModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Action("AddOrEdit")
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@section Scripts{

    <script>



        var InventoryNo = "0";

        $("#AddBtn").click(function () {
            resetDatafromFrom();

            $("#btnSave").show();
            $("#btnUpdate").hide();

            $(".modal-title").text("Add New Inventory");
            $("#DepartmentModal").modal('show');
            $(".modal-header").removeClass('bg-primary');
            $(".modal-header").addClass('bg-success');

        });

        function GetInventoryById(id) {
            resetDatafromFrom();

            $.ajax({
                type: "POST",
                url: "/Inventory/GetInventoryById",
                data: { id: id },
                success: function (data) {
                    debugger
                    //$("#Inven_ID").prop('readonly', true);

                    //$("#Inven_ID").val(data[0].Inven_ID);
                    $("#PID").val(data[0].PID);
                    $("#Inventory_No").val(data[0].Inventory_No);
                    $("#Placement").val(data[0].Placement);
                    $("#Status").val(data[0].Status);

                    $("#btnSave").hide();
                    $("#btnUpdate").show();

                    $(".modal-title").text("Update Inventory");
                    $("#DepartmentModal").modal('show');
                    $(".modal-header").addClass('bg-primary');
                    $(".modal-header").removeClass('bg-success');
                }
            });

        }
        function deleteInventoryById(id) {
            var table = $('#myTable').DataTable();

            var rowData = table.row("#" + id).data();

            var empId = rowData[0];
            var ename = rowData[1];
            var forAlert = empId + ", " + ename;

            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover " + forAlert + " Data!",
                //text: forAlert,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
                    function (isConfirm) {
                        if (isConfirm) {

                            $.ajax({
                                type: "POST",
                                url: "/Inventory/DeleteInventoryByID",
                                data: { id: id },
                                success: function (data) {

                                    if (data.success) {
                                        InventoryNo = data.NewInventoryNo;

                                        if (data.Delete == "Delete") {
                                            var table = $('#myTable').DataTable();
                                            index = table.row('#' + id);
                                            var temp = table.row(index[0]).data();
                                            table.row(index[0]).remove().draw();

                                            $('.ui-pnotify').remove();
                                            new PNotify({
                                                title: 'DELETED!',
                                                text: data.message,
                                                type: 'error',
                                                animation: 'slide',
                                                delay: 3000,
                                                top: "500px",
                                                min_height: "16px",
                                                animate_speed: 400,
                                                text_escape: true,
                                                //nonblock: {
                                                //    nonblock: true,
                                                //    nonblock_opacity: .1
                                                //},
                                                styling: 'bootstrap3',
                                            });
                                            swal("Deleted!", data.message, "success");
                                            setTimeout(function () {
                                                swal.close();
                                            }, 1000);
                                        } else {
                                            swal("Error!", data.message, "error");
                                        }


                                    } else {
                                        location.reload();

                                        toastr.error(data.message, "Error",
                                            options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "progressBar": true,
                                                "preventDuplicates": true,
                                                "positionClass": "toast-top-center",
                                                "onclick": null,
                                                "showDuration": "400",
                                                "hideDuration": "1000",
                                                "timeOut": "7000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            });
                                    }
                                }
                            });
                        }
                        else {
                            swal("Cancelled", "Your file is safe :)", "error");
                        }
                    });

        }
        $("#btnUpdate").click(function (e) {
             
            if ($("#myForm").valid()) {  //<<< I was missing this check
                var oForm = document.forms["myForm"];
                var a = $('#PID option:selected').text();

                var ajaxConfig = {
                    type: "POST",
                    url: oForm.action,
                    data: new FormData(oForm),
                    success: function (data) {
                        if (data.success) {
                            var table = $("#myTable").DataTable();

                            $('#DepartmentModal').modal('hide');

                            index = table.row('#' + oForm["Inventory_No"].value); //1234126
                            var temp = table.row(index[0]).data();
                            //temp[1] = oForm["Name"].value;
                            temp[1] = a;
                            temp[2] = oForm["Placement"].value;
                            if (oForm["Status"].value == "1") {
                                temp[3] = '<label class="badge bg-success">Available</label>';
                            }
                            if (oForm["Status"].value == "0") {
                                temp[3] = '<label class="badge bg-danger">Not Usable</label>';
                            }

                            table.row(index[0]).data(temp).draw();


                            $('.ui-pnotify').remove();
                            new PNotify({
                                title: 'SUCCESS!',
                                text: data.message,
                                type: 'success',
                                animation: 'slide',
                                delay: 3000,
                                top: "500px",
                                min_height: "16px",
                                animate_speed: 400,
                                text_escape: true,
                                //nonblock: {
                                //    nonblock: true,
                                //    nonblock_opacity: .1
                                //},
                                styling: 'bootstrap3',
                            });
                        }
                        else {
                            swal("Error!", data.message, "error");
                        }
                    }
                }
                if ($("form").attr('enctype') == "multipart/form-data") {
                    ajaxConfig["contentType"] = false,
                    ajaxConfig["processData"] = false;
                }
                $.ajax(ajaxConfig);
                return false;
            }

        });

        $("#btnSave").click(function () {

            var oForm = document.forms["myForm"];

            if ($("#myForm").valid()) {  //<<< I was missing this check
                var table = $("#myTable").DataTable();

                var ajaxConfig = {
                    type: "POST",
                    url: oForm.action,
                    data: new FormData(oForm),
                    success: function (data) {
                        var a = $('#PID option:selected').text();
                        if (data.success) {
                                
                            $('#DepartmentModal').modal('hide');
                            if (oForm["Status"].value == "1") {
                                var rowIndex = table.row.add([oForm["Inventory_No"].value, a, oForm["Placement"].value, '<label class="badge bg-success">Available</label>', '<button onclick="GetInventoryById(this.id)" id="' + oForm["Inventory_No"].value + '" class="btn btn-primary">Edit</button> <button id="' + oForm["Inventory_No"].value + '" class="btn btn-danger" onclick="deleteInventoryById(id)">Delete</button>']).draw(false);
                            }
                            if (oForm["Status"].value == "0") {
                                var rowIndex = table.row.add([oForm["Inventory_No"].value, a, oForm["Placement"].value, '<label class="badge bg-danger">Not Usable</label>', '<button onclick="GetInventoryById(this.id)" id="' + oForm["Inventory_No"].value + '" class="btn btn-primary">Edit</button> <button id="' + oForm["Inventory_No"].value + '" class="btn btn-danger" onclick="deleteInventoryById(id)">Delete</button>']).draw(false);
                            }

                            var row = $('#myTable').dataTable().fnGetNodes(rowIndex);
                            $(row).attr('id', oForm["Inventory_No"].value);

                            $("#Inventory_No").val(data.NewInventoryNo);
                            InventoryNo = data.NewInventoryNo
                            $('.ui-pnotify').remove();
                            new PNotify({
                                title: 'SUCCESS!',
                                text: data.message,
                                type: 'success',
                                animation: 'slide',
                                delay: 3000,
                                top: "500px",
                                min_height: "16px",
                                animate_speed: 400,
                                text_escape: true,
                                //nonblock: {
                                //    nonblock: true,
                                //    nonblock_opacity: .1
                                //},
                                styling: 'bootstrap3',
                            });
                        }
                        else {
                            swal("Error!", data.message, "error");
                        }
                    }
                }
                if ($("form").attr('enctype') == "multipart/form-data") {
                    ajaxConfig["contentType"] = false,
                    ajaxConfig["processData"] = false;
                }
                $.ajax(ajaxConfig);
                return false;
            }
        });

        function resetDatafromFrom() {
           // $("#ImagePreview").attr('src', '/AdminAssets/dist/img/avatar5.png');//e.target.result);
            //$("#Department_ID").prop('readonly', false);
            
            $("#myForm")[0].reset();
            $(".form-control.is-invalid").removeClass('is-invalid');
            if (InventoryNo == 0)
            {
                var id = '@ViewBag.Inventory_No'; 
                $("#Inventory_No").val(id);

            } else
            {
                $("#Inventory_No").val(InventoryNo);
            }

        }


        $(document).ready(function () {


            $("#btnUpdate").hide();

            $('#myForm').validate({
                rules: {
                    //Name: {
                    //    required: true,
                    //},
                    //Email: {
                    //    required: true,
                    //    Email: true,
                    //},
                    //password: {
                    //    required: true,
                    //    minlength: 5
                    //},
                    //terms: {
                    //    required: true
                    //},
                },
                messages: {
                    PID: {
                        required: "Please Select product"
                    },
                    Inventory_No: {
                        required: "Please Enter Inventory No"
                    },
                    Placement: {
                        required: "Please Enter Placement"
                    },
                    Status: {
                        required: "Please Select Status"
                    },

                    //password: {
                    //    required: "Please provide a password",
                    //    minlength: "Your password must be at least 5 characters long"
                    //},
                    //terms: "Please accept our terms"
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });


        $(function () {
            $("#myTable").DataTable({
                //"paging": false,
                //searching: false,                   // for disable search box
                select: {
                    info: false
                },

                "order": [4, "des"],
                // "orderable": false,
                "columnDefs": [
                   { "targets": [0, 2,4], "orderable": false }
                ],
                dom: 'lBfrtip',
                language: {
                    search: "", // for hide label of search
                    searchPlaceholder: "Search Inventory", // place holder of search box
                },
                responsive: true,
                //select: 'single',
                select: true,                       // for Select Row
                //bDestroy: true,                     // this will disable table when new load data
                "bLengthChange": false,           //  for Show more Entries
                //scrollY: '20vh',
                "sScrollX": "100%",
                "sScrollXInner": "100%",
                "bScrollCollapse": true,
                "processing": true,
                //"bPaginate": false,
                "sPaginationType": "full_numbers",
                //"langauge": {
                //    "QueryTable": "No data found, Please click on <b>Add New </b> Button"
                //},
                "oLanguage": {
                    "sEmptyTable": "No data found, Please click on <b>Add New</b> Button"
                }
            });

            $('input[type="search"]').addClass('form-control'); // <-- add this line

            //$("#myTable").DataTable({
            //    "responsive": true,
            //    "autoWidth": false,
            //});

            //$('#example2').DataTable({
            //    "paging": true,
            //    "lengthChange": false,
            //    "searching": false,
            //    "ordering": true,
            //    "info": true,
            //    "autoWidth": false,
            //    "responsive": true,
            //});
        });

    </script>



}